<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lafsys.mapper.FindMapper">

    <update id="claim">
        update sys_find
        set sys_find.is_claim = 1,sys_find.user_id = #{userId}
        where sys_find.find_id = #{findId}
    </update>



</mapper>
